<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="large material-icons prefix" style = "    left: -64px;  bottom: 15px;  font-size: 5rem;    color: #777670;" >search</i>
          <%= form_tag(search_path, :method => :get) do %>
	  		     <%= text_field_tag "search",  params[:search], placeholder: "Search for your favourite Game of Thrones Battles", autocomplete: :off, :class=>"autocomplete z-depth-5", :id => "autocomplete-input" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>